.footer {
  background-color: #000;
  color: #FFF;
  text-align: center;
  padding: 10px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-top: 20px;
}

.header {
  background-color: black;
  padding: 10px 0;
  margin: 15px;
  margin-bottom: 0;
}

.navbar-text {
  font-size: 20px;
  font-weight: bold;
  color: #d3d3d3;
}

.nav-link {
  color: #d3d3d3;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.nav-item {
  margin-left: 15px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.carasol-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.carousel-inner img {
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header 학번 및 이름과 네비게이션 분리 */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

/* 네비게이션 메뉴 간 간격 추가 */
.nav-item + .nav-item {
  margin-left: 20px;
}

/* Home, Sign In, Show User 버튼 hover 스타일 추가 */
.nav-link:hover {
  color: #ffc107;
  text-decoration: none;
}

/* 중앙 정렬 스타일 */
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.center-box .content-box {
  border: 2px solid #000;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 버튼 스타일 추가 */
.btn-primary,
.btn-warning,
.btn-danger {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover {
  background-color: #ffc107;
  color: #000;
}
